@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Montserrat+Alternates&display=swap');
body {
 background-color: #000;
 color: #fff;
 font-family: 'Montserrat', sans-serif;
 font-family: 'Montserrat Alternates', sans-serif;
}
.disconnect{
    position: fixed;
    z-index: 999;
    display: inline-block ;
    bottom: 5%;
    left: 20px;
    border-radius: 20px;
}
a{
 cursor: pointer;
}

.page-link{
    background-color: transparent !important;
    color: #fff ;
    margin-top: 40px;
}
.fa-brands{
  color: #fff !important;
  font-size: 18px;
}
.fa-brands:hover{
    color: darkgray !important;
}
label{
    margin-top: 14px;
}